

    <!-- Date/Time -->
    <!-- Author -->
    <p>Create on <%= @article.updated_at.strftime("%d-%m-%y %T") %> by <%= @article.user.email %></p>


    <!-- Title -->
    <h1 class="mt-4"><%= @article.name %></h1>


    <p class="lead">
      <% @article.categories.each do |category| %>
        <small style="font-weight: bold"><%= category.name %></small>
      <% end %>
    </p>
    <!-- Preview Image -->
    <%= image_tag @article.image.url(:big) , class:"img-fluid rounded" , style: "width:900px;height:300px" %>

    <hr>

    <!-- Post Content -->
    <p class="lead"><%= @article.description %></p>
    <p><%=link_to 'Back' , articles_path %></p>
